body {
  background-color: #F1010C;
}

.bsm-elf {
  margin-top: 75px;
  margin-left: calc(50% - ((150px * 1.5) / 2));
  position: relative;
}
.bsm-elf-hat {
  background-color: #00733D;
  width: 225px;
  height: 150px;
  border-radius: 50%;
  position: relative;
}
.bsm-elf-hat-tail {
  width: 225px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 33.3333333333px;
  right: -42.8571428571px;
  box-shadow: 15px 37.5px 0 0 #00733D;
  transform: rotate(180deg);
  z-index: -1;
}
.bsm-elf-hat-tail-circle {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 60px;
  left: 0;
}
.bsm-elf-hat-rope {
  width: 231px;
  height: 15px;
  top: 67.5px;
  left: -3px;
  background-color: #fff;
  border-radius: 7.5px;
  position: absolute;
}
.bsm-elf-face {
  width: 225px;
  height: 120px;
  background-color: #f7d9a8;
  border-radius: 15px 15px 50% 50%;
  position: absolute;
  top: 82.5px;
}
.bsm-elf-face-hair {
  position: relative;
}
.bsm-elf-face-hair-triangle {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 6.75px solid transparent;
  border-right: 6.75px solid transparent;
  border-top: 15px solid #e2ad26;
}
.bsm-elf-face-hair-triangle:nth-child(1) {
  left: 13.2px;
}
.bsm-elf-face-hair-triangle:nth-child(2) {
  left: 26.4px;
}
.bsm-elf-face-hair-triangle:nth-child(3) {
  left: 39.6px;
}
.bsm-elf-face-hair-triangle:nth-child(4) {
  left: 52.8px;
}
.bsm-elf-face-hair-triangle:nth-child(5) {
  left: 66px;
}
.bsm-elf-face-hair-triangle:nth-child(6) {
  left: 79.2px;
}
.bsm-elf-face-hair-triangle:nth-child(7) {
  left: 92.4px;
}
.bsm-elf-face-hair-triangle:nth-child(8) {
  left: 105.6px;
}
.bsm-elf-face-hair-triangle:nth-child(9) {
  left: 118.8px;
}
.bsm-elf-face-hair-triangle:nth-child(10) {
  left: 132px;
}
.bsm-elf-face-hair-triangle:nth-child(11) {
  left: 145.2px;
}
.bsm-elf-face-hair-triangle:nth-child(12) {
  left: 158.4px;
}
.bsm-elf-face-hair-triangle:nth-child(13) {
  left: 171.6px;
}
.bsm-elf-face-hair-triangle:nth-child(14) {
  left: 184.8px;
}
.bsm-elf-face-hair-triangle:nth-child(15) {
  left: 198px;
}
.bsm-elf-face-hair-triangle:nth-child(16) {
  left: 211.2px;
}
.bsm-elf-face-eyes {
  position: relative;
}
.bsm-elf-face-eyes-left, .bsm-elf-face-eyes-right {
  background-color: #000;
  width: 12px;
  height: 12px;
  position: absolute;
  border-radius: 50%;
  top: 22.5px;
  z-index: 1;
}
.bsm-elf-face-eyes-left {
  left: calc(50% - 150px * 0.2);
}
.bsm-elf-face-eyes-right {
  right: calc(50% - 150px * 0.2);
}
.bsm-elf-face-nose {
  position: absolute;
  width: 36px;
  height: 30px;
  border: 0.3px solid #F1010C;
  border-radius: 50%;
  top: 37.5px;
  left: calc(50% - 150px * 0.12);
}
.bsm-elf-face-cheek {
  position: relative;
}
.bsm-elf-face-cheek-left, .bsm-elf-face-cheek-right {
  width: 30px;
  height: 30px;
  background-color: #FDCAE9;
  border-radius: 50%;
  position: absolute;
  top: 37.5px;
  z-index: 1;
}
.bsm-elf-face-cheek-left {
  left: 45px;
}
.bsm-elf-face-cheek-right {
  right: 45px;
}
.bsm-elf-face-smile {
  position: absolute;
  width: 120px;
  height: 75px;
  border: 1.5px solid #F1010C;
  border-radius: 50%;
  border-top: transparent;
  border-right-color: #f7d9a8;
  border-left-color: #f7d9a8;
  top: 22.5px;
  left: calc(50% - 150px * 0.4);
}
.bsm-elf-face-smile::before, .bsm-elf-face-smile::after {
  content: "";
  position: absolute;
  width: 10.5px;
  height: 1.5px;
  background-color: #F1010C;
}
.bsm-elf-face-smile::before {
  transform: rotate(-45deg);
  bottom: 12px;
  left: 7.5px;
}
.bsm-elf-face-smile::after {
  transform: rotate(45deg);
  bottom: 12px;
  right: 7.5px;
}
.bsm-elf-face-ear {
  position: relative;
}
.bsm-elf-face-ear-left {
  position: absolute;
  background-color: #f7d9a8;
  text-align: left;
  transform: rotate(-105deg) skewX(-30deg) scale(1, 0.866);
  left: -30px;
  top: 15px;
}
.bsm-elf-face-ear-left::before, .bsm-elf-face-ear-left::after {
  content: "";
  position: absolute;
  background-color: inherit;
}
.bsm-elf-face-ear-left, .bsm-elf-face-ear-left::before, .bsm-elf-face-ear-left::after {
  width: 36px;
  height: 36px;
  border-top-right-radius: 30%;
}
.bsm-elf-face-ear-left::before {
  transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707) translate(0, -50%);
}
.bsm-elf-face-ear-left::after {
  transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translate(50%);
}
.bsm-elf-face-ear-right {
  position: absolute;
  background-color: #f7d9a8;
  text-align: left;
  transform: rotate(-15deg) skewX(-30deg) scale(1, 0.866);
  right: -30px;
  top: 15px;
}
.bsm-elf-face-ear-right::before, .bsm-elf-face-ear-right::after {
  content: "";
  position: absolute;
  background-color: inherit;
}
.bsm-elf-face-ear-right, .bsm-elf-face-ear-right::before, .bsm-elf-face-ear-right::after {
  width: 36px;
  height: 36px;
  border-top-right-radius: 30%;
}
.bsm-elf-face-ear-right::before {
  transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707) translate(0, -50%);
}
.bsm-elf-face-ear-right::after {
  transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translate(50%);
}
.bsm-elf-face-comforter {
  background: #00733D;
  width: 165px;
  height: 165px;
  position: absolute;
  text-align: center;
  z-index: -1;
  left: calc(50% - 150px * 0.55);
}
.bsm-elf-face-comforter::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 165px;
  width: 165px;
  background: #00733D;
  transform: rotate(135deg);
}

/*# sourceMappingURL=style.css.map */
