@import "variables";

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
a, a:hover{
    text-decoration: none;
}
body{
    position: relative;
    min-width: 320px;
}
.button{
    padding: 10px 50px;
    background-image: linear-gradient(to bottom, #3fda55, #3dcd52, #3bc04e, #39b34b, #37a647);
    border-radius: 3px;
    font-family: $mont;
    font-size: 14px;
    color: $light;
    text-transform: uppercase;
    font-weight: 700;
    box-shadow: 2px 3px 5px 0px rgba(68,68,68,1);
    transition: .5s;
    &:hover{
        background-image: linear-gradient(to bottom, #37a647, #39b34b, #3bc04e, #3dcd52, #3fda55);
        box-shadow: 2px 3px 80px -7px rgba(255,255,255,1);
        color: darken($light, 15%);
    }
}

// Header
.header{
    padding: 20px 0;
    background: url('../img/header-bg.jpg') center center no-repeat;
    background-size: cover;
    height: 600px;
    .navbar-toggler{
        border-color: $light;
        outline: none !important;
        .navbar-toggler-icon{
            padding-top: 7px;
            background: none;
            color: $light;
            font-size: 30px;            
        }
    }
    
    .navbar-collapse{
        margin-left: 7%;
        .navbar-nav{
            .nav-item{
                margin-right: 10px;
                padding-right: 10px;
                border-right: 2px solid $light;
                &:last-child{
                    border-right: none;
                }
                .nav-link{
                    display: block;
                    position: relative;
                    margin: 0;
                    padding: 0;
                    text-transform: uppercase;
                    color: $light;
                    font-size: 13px;
                    font-family: $mont;
                    transition: .5s;
                    &:hover{
                        color: darken($btn-color, 10%);
                    }
                    
                }
            }
            
        }
    }
    
    .praxis{
        position: relative;
        &-link:hover + .praxis-sub-menu{
            display: block;
        }

        &-sub-menu{
            text-align: left;
            position: relative;
            width: 220px;
            list-style: none;
            display: none;
            position: absolute;
            // top: 20px;
            left: 0px;
            background-color: $light;
            &:hover{
                display: block;
            }
            li{
                padding: 5px 10px;
                border-bottom: 1px solid darken($light, 15%);
                transition: .5s;
                &:last-child{
                    border-bottom: none;
                }
                &:hover{
                    background-color: lighten($dark, 10%);
                }
                &:hover a{
                    color: darken($light, 10%);
                }
                a{
                    font-family: $titi;
                    font-size: 14px;
                    color: lighten($dark, 10%);
                    transition: .5s;                    
                }
            }
            &::before{
                content: '';
                position: absolute;
                top: -5px;
                left: 10px;
                width: 0; 
                height: 0; 
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-bottom: 5px solid $light;
            }
        }
    }
    h1{
        margin-top: 150px;
        margin-bottom: 50px;
        font-family: $titi;
        font-size: 46px;
        line-height: 46px;
        color: $light;
    }
    &-descr{
        margin-bottom: 35px;
        font-family: $titi;
        font-size: 26px;
        color: $light;
    }

}

// NEWS
.news{
    padding-top: 90px;
    padding-bottom: 70px;
    h2{
        margin-bottom: 20px;
        font-family: $titi;
        font-size: 46px;
        color: lighten($dark, 5%);
    }
    figure{
        position: relative;
        overflow: hidden;
        &:hover figcaption{
            transform: translateY(0);
        }
        figcaption{
            padding: 15px 20px;
            width: 253px;
            height: 278px;
            position: absolute;
            top: 1px;
            left: 1px;
            transform: translateY(135px);
            background-color: rgba(255,255,255, 0.7);
            transition: .5s;
            h6{
                margin-bottom: 10px;
                font-family: $mont;
                font-size: 14px;
                font-weight: 700;
                color: $link-color;
            }
            p{
                margin-bottom: 10px;
                font-family: $titi;
                color: $dark;
                font-size: 16px;
            }
            .button{
                padding: 10px 5px;
            }
        }
    }
}

// CONTACT
.contact{
    padding: 40px 0;
    background-color: $contact-bg;
    h3{
        margin-bottom: 35px;
        text-align: center;
        text-transform: uppercase;
        color: $light;
        font-family: $titi;
        font-size: 46px;
    }
    form{
        font-family: $titi;
        input{
            padding: 9px 14px;
            width: 100%;
            border: none;
            border-radius: 3px;
        }
        .input-placeholder {
            position: relative;
          }
          
          .input-placeholder input:valid + .placeholder {
            display: none;
          }
          .placeholder {
            position: absolute;
            pointer-events: none;
            top: 8px;
            bottom: 2px;
            left: 14px;
            margin: auto;
            color: #777;
          }
          .placeholder span {
            color: red;
          }
        p{
            color: $light;
            font-size: 14px;
        }
    }
}

// FOOTER
.footer{
    padding: 20px 0;
    background-color: darken($contact-bg, 10%);
    h5{
        margin-bottom: 15px;
        text-transform: uppercase;
        color: $light;
        font-family: $mont;
        font-size: 14px;
        font-weight: 700;
    }
    .navigation{
        p{
            margin-bottom: 5px;
        }
        a{
            font-family: $titi;
            font-size: 14px;
            color: $light;
            transition: .5s;
            &:hover{
                color: #000;
            }
        }
    }
    form{
        input{
            width: 100%;
            padding: 9px 14px;
            width: 100%;
            border: none;
            border-radius: 3px;
        }
        .input-placeholder {
            position: relative;
          }          
        .input-placeholder input:valid + .placeholder {
            display: none;
        }
        .placeholder {
            position: absolute;
            pointer-events: none;
            top: 8px;
            bottom: 2px;
            left: 14px;
            margin: auto;
            color: #777;
        }
        .placeholder span {
            color: red;
        }

        .button{
            padding: 13px 16px;
            font-size: 12px;
            &-block{
                padding-top: 6px;
            }
        }
    }
    .created-by{
        margin-top: 50px;
        padding-left: 15px;
        p{
            font-family: $titi;
            font-size: 14px;
            color: $light;
        }
    }
}